<%- include('../partials/header', {title}) %>

<form class="delete-form" action="/artists/<%=artist._id%>?_method=PUT" method="POST">
    <input type="text" name="name" value="<%=artist.name%>">
    <input type="text" name="genre" value="<%=artist.genre%>">
    <button type="submit">Update Artist</button></form>



    <%- include('../partials/footer') %>
