<%- include('../partials/header', {title}) %>
<section class="show-page">
    <a href="/artist/<%=artist._id%>/edit">Edit Artist</a>
    <div>Name:</div>
    <div><%= artist.name%></div>
    <div>Genre</div>
    <div><%= artist.genre %></div>

    <form class="delete-form" action="/artists/<%=artist._id%>?_method=DELETE" method="POST">
        <button type="submit">Remove Artist</button></form>

</section>

<%- include('../partials/footer') %>